@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&family=Open+Sans&family=PT+Serif&family=Roboto:wght@500&display=swap');

// font-family: 'DM Serif Display', serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'PT Serif', serif;
// font-family: 'Roboto', sans-serif;

//fonts

$font1: 'DM Serif Display', serif;
$font2: 'Open Sans', sans-serif;
$font3: 'PT Serif', serif;
$font4: 'Roboto', sans-serif;
$color1: green;
$color2: rgb(17, 109, 17);
$color3: rgb(235, 164, 32);
$color4: black;
$color5: rgb(227, 150, 9);
$color6: white;
$color7: rgb(25, 101, 25);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: $color7;
}

.navbar span {
    color: $color3;
}

.navbar-toggler i{
    color: $color3 !important;
}

.navbar img {
    width: 40px;
}

.navbar .nav-link {
    color: $color5 !important;
    text-align: left; 
    text-decoration: none;
    margin-right: 50px;
}

.jumbotron {
    background-image: url(./img/thumbnail_IMG_7107.jpg);
    background-position: center;
    background-size: cover;
    height: 450px;
    color: $color4;
    border-radius: 0;
    margin-bottom: 0;
    text-align: center;
}

h2 {
    color: $color5;
    background-color: $color1;
    text-align: center;
    padding: 20px;
    margin-bottom: 0;
}

.nosotros {
    width: 100%;
    height: auto;
    background-color: $color2;
}

.nleft {
    height: 450px;
    background-image: url(./img/thumbnail_IMG_7093.jpg);
    background-size: cover;
    background-position: center;
}

.g-f { 
    background-color: $color5;
    color: $color4;
    text-align: center;
    padding: 20px;
    margin-bottom: 0;
    font-family: $font1;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 200px);
    grid-gap: 20px;
}

.d {
    text-align: center;
    background-color: $color2;
    color: $color4;
    padding: 20px;
    margin-bottom: 0; 
}

.nrigth {
    height: 450px;
    color: $color6;
    background-color: $color7;
}  

.nrigth h3 {
    height: auto;
    color: $color5;
    text-align: center;
}

.container {
    background-color: $color3;
    color: $color4;
    text-align: right;
    width: 100%;
    height: auto;
    padding: 50px;
    margin-bottom: 0;
    font-family: $font2;
    justify-content: center;
    background-size: cover;
}

.rounded {
    max-width:100% ;
    height: auto;
}

h1 {
    color: $color4;
    text-align: center;
    background-size: cover;
}

.h-a {
    color: orange;
    text-shadow: 1px 2px 2px $color4, 0 0 25px $color3;
    text-align: left;   
    font-family: $font3;
    width: 100%;
    height: 600px;
    background-image: url(./Img/istockphoto-1342229204-612x612.jpg); 
    background-position: center;
    background-size: cover;
    border-radius: 0;
    margin-bottom: 0;
}

.container-p {
    color: white;
    background-color: $color3;
    text-align: left;
    font-family: $font1;
    background-size: 250px;
    height: 250px;
    width: auto;
    text-decoration: none;
}

.img-fluid f {
    background-color: grey;
    background-position: left;
    height: 250px;
    width: auto;
}

.container-c {
    color: $color6;
    background-color: $color3;
    text-align: left;
    font-family: $font2;
    background-size: 250px;
    height: 150px;
    width: auto;
}

.box {
    background-color: $color3;
    font-size: 30px;
    color: $color6;
    text-align: left;
}

.box1 {
    text-align: left;
    font-size: 20px;
}

.box2 {
    text-align: left;
    font-size: 10px;
}

@mixin sizes ($width,$heigth,$bgcolor){
    height: $heigth;
    width: $width;
    background-color: $bgcolor;
}

.box {
    @include sizes (60% ,50px , orange)
}

.box1 {
    @include sizes (30% , 40px , orange)
}

.box2 {
    @include sizes (20% , 30px, orange)
}

.form-register {
    width: 400px;
    background-color: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: $font1;
    color: whitesmoke;
    box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
    font-family: $font2;
    
}

.controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #1f53c5;
    font-family: $font3;
    font-size: 18px;
    color: aliceblue;
}

.container-fluid-f {
    background-color: $color2;   
    color: $color4;
    text-align: center;
    padding: 0;
    font-family: $font2;
}

@media only screen and (min-width: 480px) {
   .g-f {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat (4, 200px);
   } 
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
    .g-f {
        grid-template-columns: 2fr ;
    }

    .img-fluid1 {
        grid-column: 1/3;
        grid-row: 1/3 ;
    }

    .img-fluid2 {
        grid-column: 3/4;
        grid-row: 1/2;
    }

    .img-fluid3 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .img-fluid4 {
        grid-column: 2/4;
        grid-row: 2/3;
    }
}

@media only screen and (min-width: 1024) {
    .g-f {
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 200px 200px;
    }
}